@media screen and (max-width: 992px) {
  .plantations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }

  .section-plantations {
    width: 50%;
    padding: 0;
    /* justify-self: left */
  }

  .plantations__info {
    width: auto;
    background-color: #26362b;
    margin-top: 0;
    width: 50%;
  }

  .section-plantations-btn {
    display: none;
  }

  .section-plantations {
    display: flex;
    flex-direction: column;
  }

  /* .plantations__info {
    margin-top: 0;
  } */

  .plantations__info-img {
    display: none;
  }

  .section-plantations__btn {
    display: none;
  }

  .plantations__pics .pic__roundy__wrap {
    background-color: #4e6c22;
  }

  .plantations__pics .pic__roundy__wrap .pic__roundy__text {
    color: #fff;
  }

  .section__ad:hover > .pic__roundy__wrap:last-child {
    border: 4px solid #fff;
  }

  .plantations__pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  .plantations__about {
    width: 50%;
    /* display: flex;
    flex-direction: column-reverse;
    /* justify-self: center; */
    /* justify-content: center;
    align-items: center; */ 
    margin: 0 auto;
  }

  .plantations__text {
    display: none;
  }
}
