.plantations {
  background-color: #26362b;
}

.section-plantations {
  padding-bottom: 20px;
}

.section-plantations-btn {
  border: #26362b solid 7px;
  top: -50px;
}

.plantations__info {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  background-color: #1c2723;
}

.plantations__info-img {
  width: 50%;
}

.section-plantations__btn {
  display: flex;
  align-self: center;
  right: 25px;
  /* width: 50px; */
}

.plantations__about {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.plantations__text {
  width: 70%;
  text-align: center;
}

.plantations__pics {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

