@media screen and (max-width: 640px) {
    .plantations {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plantations__about {
        width: 100%;
    }

    .plantations__pics {
        margin: 10px auto 0;
    }
}

@media screen and (max-width: 390px) {

    .plantations__pics {
        width: 100%
    }

    .header-plant__mob {
        font-size: 1em;
    }

    .plantations__info {
        width: 90%
    }

    .plantations__pics {
        margin-top: 20px;
    }
}