@media screen and (max-width: 992px) {
  .section-story__main-btn {
    display: none;
  }

  .section__main {
    flex-direction: row;
    padding: 0 30px;
  }

  .section-story__main-info {
    width: 50%;
  }

  .section-story__main-pics {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0 20px 30px;
    width: 50%;
  }

  .section-story__beans-coffee {
    display: flex;
    flex-direction: row;
  }

  .section-story__side-img {
    display: none;
  }

  .section-story__coffee {
    /* margin: 0 15%; */
    padding: 20px;
  }

  .section-story__coffee-pic {
    width: auto;
    display: none; /**/
  }

  .coffee__head {
    font-size: 0.9em;
  }

  .coffee__text {
    font-size: 0.9em;
    line-height: 20px;
    text-align: center;
    width: 70%;
  }

  .coffee__btn {
    margin: 15px 5px 0px;
    padding: 15px 5px;
    width: auto;
    width: 200px;
  }

  .coffee__btn:hover {
    width: 240px;
  }

  .coffee__btn-text {
    font-size: 0.7em;
  }

  .coffee__info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
    /* justify-content: right; */
    /* text-align: center; */ 
    /* padding-left: 30px; */
    width: 100%;
  }

  .section-story__phrase {
    justify-content: space-between;
  }

  .section-story__phrase-text {
    padding: 20px 0;
    width: 65%;
    margin-right: 20px;
    padding-right: 20px;
  }

  .section-story__phrase-img {
    height: 100%;
    /* width: 100%; */
  }

  .section-story__phrase-content {
    width: 70%;
  }

  .section-story__bottom {
    height: 100px;
  }

  .section-story__bottom-img {
    height: 100%;
  }
}
