@media screen and (max-width: 760px) {
  .section-story__phrase-img {
    display: none;
  }

  .section-story__phrase {
    padding: 30px;
    justify-content: center;
    align-items: center;
  }

  .section-story__phrase-text {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .section-story__phrase-content {
    width: 100%;
  }

  .section-story__phrase-content > .section__subheader {
    margin: 0 auto;
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  .section__main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .section-story__main-info {
    width: 100%;
  }

  .section-story__main-pics {
    margin: 0;
    padding-top: 20px;
    width: 100%;
  }

  .section-story__coffee {
    padding: 30px;
  }

  .section-story__bottom {
    height: auto;
  }
}

@media screen and (max-width: 390px) {
    .section-story__main-pics {
        grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    }
}