.section-story {
  background-color: #1c2723;
}

.section-story__main-btn {
  /* width: 50px;
  height: 50px; */
  bottom: -25px;
}

.section-story__main-pics {
  display: flex;
  flex-direction: row;
  margin: 30px 0 20px 0;
}

.pic__roundy {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 150ms ease-in-out;
}

.pic__roundy:hover {
  border: #ffffff solid 4px;
}

.pic__descr {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-transform: capitalize;
}

.section-story__beans-coffee {
  background-color: #26362b;
  width: 100%;
}

.section-story__side-img {
  width: 100%;
}

.section-story__coffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-story__coffee-pic {
  width: 300px;
}

.coffee__info {
  width: 30%;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding-left: 50px;
}

.coffee__head {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #ffffffca;
}

.coffee__text {
  text-align: justify;
  font-size: 1em;
  line-height: 25px;
  color: #ffffff9f;
  font-weight: 300;
}

.coffee__btn {
  margin-top: 30px;
  width: 275px;
  padding: 15px 35px;
  border-radius: 40px;
  border: #ffffffca solid 2px;
  transition: all 150ms ease-in-out;
}

.coffee__btn:hover {
  background-color: #1c2723;
  width: 300px;
}

.coffee__btn-text {
  text-transform: uppercase;
  color: #ffffffca;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 400;
   transition: all 150ms ease-in-out;
   text-align: center;
}

.coffee__btn:hover > .coffee__btn-text {
  font-weight: 600;
}

.section-story__phrase {
  background-color: #1c2723;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content:space-between */
}

.section-story__phrase-text {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 50px;
}

.section-story__phrase-img {
  width: 50%;
}

.section__btn-arrow {
  width: 50px;
  align-self: center;
  left: 25px;
}

.section__btn-textarrow {
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  color: transparent;
  -webkit-text-stroke: 2px #fff; /* width and color */
}

.section__btn-textarrow i {
  text-align: center;
  margin-left: 4px;
}

.section__btn-arrow:hover > .section__btn-textarrow {
  color: #fff;
}

.section-story__phrase-content {
  width: 50%;
  text-align: center;
}

.section-story__bottom {
  background-color: #26362b;
}

.section-story__bottom-img {
  width: 100%;
}
