@media screen and (max-width: 576px) {
    .header__block-p {
        font-size: 1.5em;
        padding-bottom: 0.7em;
    }

    .header__block-h {
        font-size: 3em;
        letter-spacing: 20px;
    }

    .heropage__text {
        font-size: 0.6em;
        letter-spacing: 4px;
    }
}