* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: #ffffff;
  text-decoration: none;
}

picture {
  width: fit-content;
}

.hidden {
  display: none;
}
